<div class="h-14 px-2 py-[10px] bg-lila rounded-t flex shadow-md">
  <div class="flex mr-2">
    <div class="justify-start items-center gap-2 flex px-4 cursor-pointer">
      <img src="./page-view.svg">
      <div class="text-zinc-700 text-base font-medium leading-normal">Page View</div>
    </div>
  </div>

  <div class="flex">
    <div class="bg-lila-200 rounded-full text-white justify-start items-center gap-2 flex px-4 cursor-pointer">
      <img src="./thread-view.svg">
      <div class="text-white text-base font-medium leading-normal">Thread View</div>
    </div>
  </div>
</div>
