---
import Reply from '../components/Reply.astro';
---

<div class="bg-warm-gray-light p-5">
  <div class="flex gap-2 justify-start items-center mb-5">
    <img src="./message-circle.svg">    
    <p class="text-base font-medium hidden md:inline">Comments</p>
    <p class="text-sm font-bold">6</p>
  </div>
  <Reply />
</div>