<div class="shadow-md bg-white p-5 rounded">
  <div class="mt-4 flex flex-wrap items-center justify-between">
    <div class="flex items-center">
      <img class="rounded-full w-10 h-10 ml-4" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      <span class="ml-3 font-medium text-lg text-main-text">Tom Cook</span>
    </div>
    <div class="flex items-center flex-shrink-0">
      <p class="text-sm font-normal text-gray-text hidden md:inline">Yesterday at 10:52 AM</p>
      <img src="/more-horizontal.svg" class="h-6 w-6 ml-3">
    </div>
  </div>

  <div class="my-5 bg-warm-gray-light rounded">
    <p class="px-5 py-5 text-lg font-normal text-main-text">
      Quo necessitatibus debitis commodi voluptate explicabo et laboriosam.
    </p>
  </div>
  
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <img src="/corner-right-down.svg">
      <span class="text-xs font-medium text-gray-text ml-2 hidden md:inline">Reply</span>
    </div>

    <div class="flex flex-shrink-0">
      <div class="flex items-center">
        <img src="/star.svg">
        <span class="text-xs font-medium text-gray-text ml-2 hidden md:inline">Important</span>
      </div>
      <div class="flex items-center pl-10">
        <img src="/thumbs-up.svg">
        <span class="text-xs font-medium text-gray-text ml-2 hidden md:inline">Like</span>
      </div>
      <div class="flex items-center pl-10">
        <img src="/thumbs-down.svg">
        <span class="text-xs font-medium text-gray-text ml-2 hidden md:inline">Dislike</span>
      </div>
    </div>
  </div>
</div>