<div class="shadow-md bg-white rounded">
  <div class="px-10 py-10">
    <h1 class="text-3xl font-bold text-center pb-6">Potential Events</h1>
    <hr class="border border-gold-100 my-4">
    <div class="flex justify-between items-center">
      <div class="flex gap-10 items-center">
        <div class="flex gap-2 justify-start items-center">
          <img src="./siblings.svg">    
          <p class="text-base font-medium hidden md:inline">Siblings</p>
          <p class="text-sm font-bold">2</p>
        </div>
    
        <div class="flex gap-2 justify-start items-center">
          <img src="./sub-pages.svg">    
          <p class="text-base font-medium hidden md:inline">Sub Pages</p>
          <p class="text-sm font-bold">3</p>
        </div>
    
        <div class="flex gap-2 justify-start items-center">
          <img src="./message-circle.svg">    
          <p class="text-base font-medium hidden md:inline">Comments</p>
          <p class="text-sm font-bold">6</p>
        </div>
      </div>
    
      <div class="flex items-center">
        <img src="./more-horizontal.svg">
      </div>
    </div>
    
    <img src="./thread-picture.svg" class="pt-[100px] pb-10">
    <p class="text-lg text-justify font-normal md:px-32 sm:px-0 pb-28">
      Magnam est voluptatum assumenda ipsam. Eos distinctio blanditiis id. Libero est ea doloremque occaecati nihil ea aut dolores magni. Ex et odio. Repudiandae necessitatibus hic adipisci pariatur sunt.
    </p>
    <hr class="border border-gold-100 my-4">
    <div class="flex justify-between items-center">
      <div class="flex gap-2 items-center">
        <p class="text-sm font-normal hidden md:inline">Created By</p>
        <img class="inline-block h-6 w-6 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <p class="text-sm font-medium">Kevin Smith</p>
        <p class="text-sm font-normal hidden md:inline"> on 02/12/2022 at 5:34pm</p>
      </div>
      <div class="flex items-center">
        <div class="flex -space-x-1 overflow-hidden mr-3">
          <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="">
        </div>
        <p class="text-sm font-medium hidden md:inline">Members 3</p>
      </div>
    </div>
  </div>
</div>